{{!-- shown when deleting a record --}}
<div id="delete-popup" class="hidden" class="crud-box">
    <h3 class="crud-title">Delete this record?</h3>
    <p id="delete-popup-record-details"></p>
    <div class="buttons">
        <input id="delete-accept-btn" class="accept-btn" type="submit" value="Confirm">
        <input id="delete-cancel-btn" class="cancel-btn" type="button" value="Cancel">
    </div>
</div>