<header>
    <a href="/" class="title"><h1>Project Hive</h1></a>
    <nav class="navbar">
        <ul>
            <li id="home-button"><a href="/">Home</a></li>
            <li id="projects-button">Projects</li>
            <li id="students-button">Students</li>
            <li id="assignments-button">Assignments</li>
            <li id="roles-button">Roles</li>
            <li id="tasks-button">Tasks</li>
            <li id="citations-button">Citations</li>
        </ul>
    </nav>
</header>