<main id="assignments-main-box" class="page-box">
    <h2 class="page-title">Assignments</h2>

    <h3 class="crud-title">Edit Assignment</h3>
    <div class="crud-box">
        <form class="update-form">
            <fieldset class="fields">
                <label>Assignment ID</label> <input type="number" value="" name="assignment_id"> 
                <label>Project ID</label> <input type="number" value="" name="project_id">
                <label>Student ID</label> <input type="number" value="" name="student_id">
            </fieldset>
            <input class="btn" type="submit" value="Update">
            <input class="cancel-btn" type="button" value="Cancel">
        </form> 
    </div>

    <p>&nbsp;</p>

</main>