<main id="citations-main-box" class="page-box">
    <h2 class="page-title">Citations</h2>

    <div class="crud-box">
        <h3 class="crud-title">Browse Citations</h3>
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>Citation ID</th>
                <th>Citation Title</th>
                <th>Source</th>
                <th>Author</th>
                <th>URL</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Experimental Procedure</td>
                <td>Website</td>
                <td>NULL</td>
                <td>https://www.sciencebuddies.org/science-fair-projects/science-fair/writing-experimental-procedures/</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Plant Physiology</td>
                <td>Textbook</td>
                <td>Lincoln Taiz</td>
                <td>NULL</td>
            </tr>
            <tr>
                <td>3</td>
                <td>How to do a Science Fair Project</td>
                <td>Website</td>
                <td>NASA</td>
                <td>https://www.jpl.nasa.gov/edu/learn/activities/science-fair-project/</td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Citation</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="citation-title">Title</label> <input type="text" name="citation-title">
                <label for="source">Source</label> <input type="text" name="source">
                <label for="author">Author</label> <input type="text" name="author">
                <label for="url">URL</label> <input type="url" name="url">
            </fieldset>
            <div class="buttons">
                <input class="accept-btn" type="submit" value="Submit">
                <input class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Browse Task Citations</h3>
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>Task ID</th>
                <th>Project Title</th>
                <th>Task</th>
                <th>Citation ID</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Biology Group Final</td>
                <td>Design a biology experiment.</td>
                <td>1</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Spring Science Fair Project</td>                
                <td>Create experimental procedures for plant project.</td>                
                <td>1</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Spring Science Fair Project</td>                
                <td>Create experimental procedures for plant project.</td>                
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Spring Science Fair Project</td>                
                <td>Create experimental procedures for plant project.</td>                
                <td>3</td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Citation to Task</h3>
        <form class="search-box">
            <fieldset class="fields">
                <label for="task-id">Task ID</label> <input type="number" name="task-id">
                <label for="citation-id">Citation ID</label> <input type="number" name="citation-id">
            </fieldset>
            <div class="buttons">
                <input class="accept-btn" type="submit" value="Submit">
                <input class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

</main>