<!-- index.hbs -->
<main class="page-box">
    <h2>Projects</h2>
    <p>Browse, add, or modify different Projects that Students are working on.</p>
    <h2>Students</h2>
    <p>Browse or add new Students.</p>
    <h2>Assigments</h2>
    <p>Browse Student Assignments, add Student(s) to existing Project(s), or modify existing Assignments.</p>
    <h2>Roles</h2>
    <p> Browse, add, or view all Roles that are assigned to Student(s).</p>
    <h2>Tasks</h2>
    <p>Browse or add Tasks for existing Student-Project Assignments.</p>
    <h2>Citations </h2>
    <p> Browse, add, or view all Citations used by different Task(s).</p>
</main>