<!-- Home page -->
<main class="page-box">
    <a href="/projects" class="home-nav-btn"><h2>Projects</h2></a>
    <p>Browse, add, or delete Projects that Students are working on.</p>
    <a href="/students" class="home-nav-btn"><h2>Students</h2></a>
    <p>Browse or add new Students.</p>
    <a href="/assignments" class="home-nav-btn"><h2>Assignments</h2></a>
    <p>Browse Student Assignments, add Students to existing Projects, or modify/delete existing Assignments.</p>
    <a href="/roles" class="home-nav-btn"><h2>Roles</h2></a>
    <p> Browse or add new Roles, and view or add Students to existing Roles.</p>
    <a href="/tasks" class="home-nav-btn"><h2>Tasks</h2></a>
    <p>Browse or add new Tasks for existing Student-Project Assignments.</p>
    <a href="/citations" class="home-nav-btn"><h2>Citations</h2></a>
    <p> Browse or add new Citations, and view or add Citations to existing Tasks.</p>
</main>