<!-- index.hbs -->
<h1>The server is running!</h1>
<h2>Projects</h2>
<p>Click the button in the Nav bar to browse or add Projects</p>
<h2>Students</h2>
<p>Browse or add Students</p>
<h2>Assigments</h2>
<p> Browse Student Assignments or add a student to an Assignment!</p>
<h2>Roles</h2>
<p> Browse or add Roles or view all Roles a student has</p>
<h2>Tasks</h2>
<p>Browse or add Tasks</p>
<h2>Citations </h2>
<p> Browse or add Citations Or view all the citations a Task has</p>