<main id="projects-main-box" class="page-box">
    <h2 class="page-title">Projects</h2>
    
    <h3 class="crud-title">Browse Projects</h3>
    <div class="crud-box">
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start date</th>
                <th>End Date</th>
                <th>Active?</th>
                <th>Collaborative?</th>
                <th><a href="#">Add New +</a></th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> 
                <td><a href="#">Delete</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <h3 class="crud-title">Add Project</h3>
    <div class="crud-box">
        <form class="insert-form">
            <fieldset class="fields">
                <label>Title</label> <input type="text" name="title">
                <label>Description</label> <input type="text" name="description">
                <label>Start Date</label> <input type="date" name="start-date">
                <label>End Date</label> <input type="date" name="end-date">
                <label>Active?</label> <input type="checkbox" name="is-active" checked>
                <label>Collaborative?</label> <input type="checkbox" name="is-collaborative">
            </fieldset>
            <input class="btn" type="submit" value="Submit">
            <input class="cancel-btn" type="button" value="Cancel">
        </form> 
    </div>

</main>