<main id="citations-main-box" class="page-box">
    <h2 class="page-title">Roles</h2>

    <h3 class="crud-title">Browse Roles </h3>
    <div class="crud-box">
        <form class="search-box">
            <fieldset class="fields">
                <label>Role</label> <input type="search" name="role_title">
            </fieldset>
            <input class="btn" type="submit" value="Search">
            <input class="cancel-btn" type="button" value="Cancel">
        </form>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Role Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <h3 class="crud-title">Add Roles </h3>
    <div class="crud-box">
        <form class="insert-form">
            <fieldset class="fields">
                <label>Role Title</label> <input type="text" name="role_title">
                <label>Citation ID</label> <input type="number" name="role_id">
            </fieldset>
            <input class="btn" type="submit" value="Submit">
            <input class="cancel-btn" type="button" value="Cancel">
        </form>
    </div>

</main>