<main id="citations-main-box" class="page-box">
    <h2 class="page-title">Roles</h2>

    <div class="crud-box">
        <h3 class="crud-title">Browse Roles </h3>
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>Role ID</th>
                <th>Role Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Team Leader</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Note Taker</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Researcher</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Resource Manager</td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Role</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label>Role Title</label> <input type="text" name="role_title">
            </fieldset>
            <div class="buttons">
                <input class="accept-btn" type="submit" value="Submit">
                <input class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Browse Assigned Roles </h3>
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>Assignment ID</th>
                <th>Student Name</th>
                <th>Project Title</th>
                <th>Role Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Eric Saylor</td>
                <td>Biology Group Final</td>
                <td>Team Leader</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Eric Saylor</td>
                <td>Biology Group Final</td>
                <td>Researcher</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dana Holt</td>
                <td>Biology Group Final</td>
                <td>Researcher</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dana Holt</td>
                <td>Biology Group Final</td>
                <td>Resource Manager</td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Role to Assignment</h3>
        <form class="search-box">
            <fieldset class="fields">
                <label>Assignment ID</label> <input type="number" name="assignment_id">
                <label>Role Title</label> <select name="role_id">
                    <option value="0" selected>&nbsp;</option>
                    <option value="1">Team Leader</option>
                    <option value="2">Note Taker</option>
                    <option value="3">Researcher</option>
                    <option value="4">Resource Manager</option>
                </select>
            </fieldset>
            <div class="buttons">
                <input class="accept-btn" type="submit" value="Submit">
                <input class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

</main>