<main id="students-main-box" class="page-box">
    <h2 class="page-title">Students</h2>
    
    <h3 class="crud-title">Browse Students</h3>
    <div class="crud-box">
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <h3 class="crud-title">Add Student</h3>
    <div class="crud-box">
        <form class="insert-form">
            <fieldset class="fields">
                <label>First Name</label> <input type="text" name="f_name">
                <label>Last Name</label> <input type="text" name="l_name">
                <label>Email</label> <input type="email" name="email">
                <label>Phone Number</label> <input type="tel" name="phone">
            </fieldset>
            <input class="btn" type="submit" value="Submit">
            <input class="cancel-btn" type="button" value="Cancel">
        </form> 
    </div>

</main>