<main id="students-main-box" class="page-box">
    <h2 class="page-title">Students</h2>
    
    <div class="crud-box">
        <h3 class="crud-title">Browse Students</h3>
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Eric Saylor</td>
                <td>saylore@gmail.com</td>
                <td>(756) 375-6352</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Lillian Waldo</td>
                <td>waldol@gmail.com</td>
                <td>NULL</td>
            </tr>
            <tr>
                <td>3</td>
                <td>George Inigo</td>
                <td>inigog@gmail.com</td>
                <td>NULL</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dana Holt</td>
                <td>holtd@gmail.com</td>
                <td>(530) 220-8740</td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Student</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="f-name">First Name</label> <input type="text" name="f-name">
                <label for="l-name">Last Name</label> <input type="text" name="l-name">
                <label for="email">Email</label> <input type="email" name="email">
                <label for="phone">Phone Number</label> <input type="tel" name="phone">
            </fieldset>
            <div class="buttons">
                <input class="accept-btn" type="submit" value="Submit">
                <input class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div>

</main>