<main id="tasks-main-box" class="page-box">
    <h2 class="page-title">Tasks</h2>
    
    <h3 class="crud-title">Browse Tasks</h3>
    <div class="crud-box">
        <form class="search-box">
            <fieldset class="fields">
                <label>Project Title</label> <input type="search" name="project_title">
                <label>Student First Name</label> <input type="search" name="f_name">
                <label>Student Last Name</label> <input type="search" name="l_name">
            </fieldset>
            <input class="btn" type="submit" value="Search">
            <input class="cancel-btn" type="button" value="Cancel">
        </form> 
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <table class="search-results" border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Project Title</th>
                <th>Student Name</th>
                <th>Task Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Complete?</th>
                <th>Any Citations?</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <h3 class="crud-title">Add Task</h3>
    <div class="crud-box">
        <form class="insert-form">
            <fieldset class="fields">
                <label>Title</label> <input type="text" name="task_title">
                <label>Description</label> <input type="text" name="task_description">
                <label>Due Date</label> <input type="date" name="due_date">
                <label>Complete?</label> <input type="checkbox" name="is_complete">
                <label>Has Citations?</label> <input type="checkbox" name="has_citations">
                <label>Assignment ID</label> <input type="number" name="assignment_id">
            </fieldset>
            <input class="btn" type="submit" value="Submit">
            <input class="cancel-btn" type="button" value="Cancel">
        </form> 
    </div>

</main>