body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 300;
}

main {
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.title {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    position: relative;
    left: 25px;
}

.navbar ul {
    position: relative;
    right: 25px;
}

.navbar li {
    position: relative;
    float: left;
    padding: 20px;
    color: #333;
    display: block;
}

.navbar li:hover {
    cursor: pointer;
    opacity: 0.5;
    transition-timing-function: ease-in-out;
}

#home-button a {
    text-decoration: none;
    color: #333;
}

.page-box {
    padding: 15px;    
}

.crud-title, .navbar {
    font-weight: 500;
}

.crud-box, p {
    font-weight: 300;
}

.insert-form, .update-form, .search-box {
    max-width: fit-content;
}

i:hover {
    opacity: 0.5;
    cursor: pointer;
}

#popup-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
#edit-assignment, #delete-popup {
    position: fixed;
    top: 35%;
    left: 30vw;
    z-index: 1010;
    transform: scale(1.2);
    width: fit-content;
    min-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

.buttons {
    margin: 5px;
}