body {
    margin: 0;
    padding: 1px;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 300;
}

main {
    padding: 15px;
}

header {
    position: relative;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    position: relative;
    left: 25px;
}

.navbar ul {
    position: relative;
    right: 25px;
}

.navbar li {
    position: relative;
    float: left;
    padding: 20px;
    color: #333;
    display: block;
    border-radius: 25px;
}

.navbar li:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    transition: background-color 300ms linear;
}

#home-button a, .home-nav-btn {
    text-decoration: none;
    color: #333;
}

.home-nav-btn:hover {
    text-decoration: underline;
}

.home-nav-btn {
    display: block;
    width: fit-content;
}

.crud-title, .navbar {
    font-weight: 500;
}

.crud-box, p {
    font-weight: 300;
}

.insert-form, .update-form, .search-box {
    max-width: fit-content;
}

i:hover {
    opacity: 0.5;
    cursor: pointer;
}

#popup-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
#edit-assignment, #delete-popup {
    position: fixed;
    top: 35%;
    left: 30vw;
    z-index: 1010;
    transform: scale(1.2);
    width: fit-content;
    min-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

.buttons {
    margin: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}