body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.title {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    position: relative;
    left: 25px;
}

.navbar ul {
    position: relative;
    right: 25px;
}

.navbar li {
    position: relative;
    float: left;
    padding: 20px;
    color: #333;
    display: block;
}

.navbar li:hover {
    cursor: pointer;
    opacity: 0.5;
    transition-timing-function: ease-in-out;
}

#home-button a {
    text-decoration: none;
    color: #333;
}

.page-box {
    padding: 15px;    
}

.crud-title {
    font-weight: 500;
}

.crud-box, p {
    font-weight: 300;
}

.insert-form, .update-form, .search-box {
    max-width: fit-content;
}